example/flow.json
[{"id":"6b7a48cdf37ecce9","type":"tab","label":"Example mongodb4","disabled":false,"info":"","env":[]},{"id":"fe36b4aab8e4b51e","type":"inject","z":"6b7a48cdf37ecce9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":140,"y":80,"wires":[["02df4cd3db727bea"]]},{"id":"02df4cd3db727bea","type":"function","z":"6b7a48cdf37ecce9","name":"set payload","func":"msg.payload = [{name: 'marina', age: 28}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":80,"wires":[["fbdbc88728b6bb53"]]},{"id":"fbdbc88728b6bb53","type":"mongodb4","z":"6b7a48cdf37ecce9","clientNode":"abd8e78c2d051290","collection":"test","operation":"insertOne","output":"toArray","name":"","x":500,"y":80,"wires":[["ad6bea22c0e0b689"]]},{"id":"ad6bea22c0e0b689","type":"debug","z":"6b7a48cdf37ecce9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":80,"wires":[]},{"id":"8ee269b8753b02a1","type":"inject","z":"6b7a48cdf37ecce9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":140,"y":140,"wires":[["b3879290c479d05d"]]},{"id":"b3879290c479d05d","type":"function","z":"6b7a48cdf37ecce9","name":"set payload","func":"msg.payload = [[\n    {name: 'chris', age: 28},\n    {name: 'markus', age: 32}\n]];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":140,"wires":[["f5c11e1900707b1c"]]},{"id":"f5c11e1900707b1c","type":"mongodb4","z":"6b7a48cdf37ecce9","clientNode":"abd8e78c2d051290","collection":"test","operation":"insertMany","output":"toArray","name":"","x":510,"y":140,"wires":[["7a265f43dea48889"]]},{"id":"7a265f43dea48889","type":"debug","z":"6b7a48cdf37ecce9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]},{"id":"5c8f4bef1a115679","type":"inject","z":"6b7a48cdf37ecce9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":140,"y":200,"wires":[["df0db7fed54ff2ef"]]},{"id":"df0db7fed54ff2ef","type":"function","z":"6b7a48cdf37ecce9","name":"set payload","func":"msg.payload = [{name: 'marina'}, {fields: {name: 1, age: 1}}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":200,"wires":[["fb9612f0dabb7e67"]]},{"id":"fb9612f0dabb7e67","type":"mongodb4","z":"6b7a48cdf37ecce9","clientNode":"abd8e78c2d051290","collection":"test","operation":"findOne","output":"toArray","name":"","x":500,"y":200,"wires":[["fc1f0dfb426c9034"]]},{"id":"fc1f0dfb426c9034","type":"debug","z":"6b7a48cdf37ecce9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":200,"wires":[]},{"id":"5b61665e0f5cc0c5","type":"inject","z":"6b7a48cdf37ecce9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":140,"y":260,"wires":[["91c84ba4d12fb033"]]},{"id":"91c84ba4d12fb033","type":"function","z":"6b7a48cdf37ecce9","name":"set payload","func":"msg.payload = [{age: 28}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":260,"wires":[["daa4aeeeb29120ca"]]},{"id":"daa4aeeeb29120ca","type":"mongodb4","z":"6b7a48cdf37ecce9","clientNode":"abd8e78c2d051290","collection":"test","operation":"find","output":"toArray","name":"find.toArray","x":510,"y":260,"wires":[["39ce7da42ba01b32"]]},{"id":"39ce7da42ba01b32","type":"debug","z":"6b7a48cdf37ecce9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":260,"wires":[]},{"id":"1075d26bfd292f92","type":"inject","z":"6b7a48cdf37ecce9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":140,"y":320,"wires":[["f83a21e14acc6837"]]},{"id":"f83a21e14acc6837","type":"function","z":"6b7a48cdf37ecce9","name":"set payload","func":"msg.payload = [{age: 28}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":320,"wires":[["0d76106c415ab9bc"]]},{"id":"0d76106c415ab9bc","type":"mongodb4","z":"6b7a48cdf37ecce9","clientNode":"abd8e78c2d051290","collection":"test","operation":"find","output":"forEach","name":"find.forEach","x":510,"y":320,"wires":[["6c446d0d50cd33eb"]]},{"id":"6c446d0d50cd33eb","type":"debug","z":"6b7a48cdf37ecce9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":320,"wires":[]},{"id":"e00d5ecdcb458feb","type":"inject","z":"6b7a48cdf37ecce9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":140,"y":380,"wires":[["5a7163e6a172dec5"]]},{"id":"5a7163e6a172dec5","type":"function","z":"6b7a48cdf37ecce9","name":"set payload","func":"msg.payload = [{age: 28}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":380,"wires":[["eeb034c85f0a357e"]]},{"id":"eeb034c85f0a357e","type":"mongodb4","z":"6b7a48cdf37ecce9","clientNode":"abd8e78c2d051290","collection":"test","operation":"countDocuments","output":"toArray","name":"countDocuments","x":530,"y":380,"wires":[["2f288690a68278bd"]]},{"id":"2f288690a68278bd","type":"debug","z":"6b7a48cdf37ecce9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":380,"wires":[]},{"id":"abd8e78c2d051290","type":"mongodb4-client","name":"example mongodb4 config","protocol":"mongodb","hostname":"localhost","port":"27017","dbName":"nodered","authSource":"nodered","authMechanism":"SCRAM-SHA-256","tls":false,"tlsCAFile":"","tlsInsecure":false}]